@font-face {
  font-family: "os-medium";
  src: url("OpenSauceSans-Medium.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "os-regular";
  src: url("OpenSauceSans-Regular.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "os-semibold";
  src: url("OpenSauceSans-SemiBold.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "mr-rat";
  src: url("MISTER-RAT.woff2") format("woff2");
  font-display: block;
}



.container {
  height: 100svh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overscroll-behavior: none;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
  min-height: 0;
  padding-top: 10vh;
}

.ask {
  font-size: 1.1rem;
  font-family: 'os-medium', sans-serif;
  padding: 5px 10px;
  color: white;
  background: black;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 0rem;
  margin-top: 1rem;
  align-items: flex-end;
  z-index: 300;
  position: relative;
  
  cursor: pointer;

  &:hover {
    border-color: magenta;
  }

}

.rat-img {
  position: relative;
  z-index: 500;
  margin-top: 1rem;
}

.rat-img .base {
  width: 170px;
  position: relative;
  z-index: 500;
  margin: 0 auto;
}


#links {
  width: 100%;
  padding: 0 20rem 2rem 20rem;
  box-sizing: border-box;
}

#links ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

#links a {
  color: #e980fc;
  font-family: 'os-regular', sans-serif;
  font-size: 1rem;
  text-decoration: underline;
  white-space: nowrap;
}

#links a:hover {
  color: #574dec;
}

@media (max-width: 1024px) {
  #links a {
    font-size: 0.8rem;
  }

  #links {
  padding: 0 1rem 2rem 1rem;
}
}
/* 
.fortune-wrapper {
  width: 100%;
  height: auto;
  max-width: 100vw;
  padding: 3rem;
  overflow-x: auto;
  overflow-y: visible;
  position: relative;
  margin-top: 5rem; 
  scrollbar-width: 100%;
  scrollbar-color: #e980fc #e980fc;
  z-index: 50;
  -webkit-overflow-scrolling: auto !important;
}

.fortune-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
}

.fortune-wrapper::-webkit-scrollbar-track {
  height: 5px !important;
}


.fortune-wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px !important;
  height: 3px;
  background: #24bb5e !important;
} */



.fortune1 {
  height: 14rem;
  /* width: 100%; */
  white-space: nowrap; 
  font-size: 14rem;
  font-family: 'mr-rat';
  color: #10069F;
  background: transparent;
  padding: 5rem 2rem;
  overflow-x: visible;
  letter-spacing: -2rem;
  margin: 0 auto;
  display: block;
  
  
 
  /* box-shadow: 0 0 0 200px transparent;
   text-align: justify;

  overflow-y: visible;
  letter-spacing: -2rem;
      @media (max-width: 1024px) {
    font-size: 12rem;
    letter-spacing: -2rem;
    margin-left: -1rem;
  } */
} 


.fortune2 {
  height: 5rem;
  font-size: 1.5rem;
  font-family: 'os-semibold', sans-serif;
  white-space: nowrap; 
  padding: 1rem 2rem;
  color: magenta;
  margin-top: auto;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 200;
}
