@font-face {
  font-family: "myriad";
  src: url("/fonts/myriadpro.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "mr-rat";
  src: url("MISTER-RAT.woff2") format("woff2");
  font-display: swap;
}

.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
  gap: 25px;
}

.ask {
  font-size: 1.1rem;
  font-family: 'myriad', sans-serif;
  padding: 5px 10px;
  color: white;
  background: black;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-top: 3rem;
  align-items: flex-end;
  
  cursor: pointer;

  &:hover {
    border-color: magenta;
  }

}

.rat-img {
  position: relative;
  z-index: 500;
  margin-top: 1rem;
}

.rat-img .base {
  width: 170px;
  position: relative;
  z-index: 500;
  margin: 0 auto;
}


#links {
  width: 100%;
  padding: 0 1rem 2rem 1rem;
  box-sizing: border-box;
}

#links ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

#links a {
  color: #e980fc;
  font-family: 'myriad', sans-serif;
  font-size: 1rem;
  text-decoration: underline;
  white-space: nowrap;
}

#links a:hover {
  color: #574dec;
}

@media (max-width: 1024px) {
  #links a {
    font-size: 0.8rem;
  }
}


.fortune1 {
  height: 3rem;
  width: 100%;
  white-space: nowrap; 
  font-size: 10rem;
  font-family: 'mr-rat';
  text-align: center;
  box-sizing: border-box;
  padding: 1rem 2rem;
  color: #10069F;
  margin-top: 0.1rem;
  margin-bottom: 3rem;
  letter-spacing: -1rem;
  z-index: 10;
      @media (max-width: 1024px) {
    font-size: 8rem;
  }
}

.fortune2 {
  height: 5rem;
  font-size: 1.5rem;
  font-family: 'myriad', sans-serif;
  padding: 1rem 2rem;
  color: magenta;
  margin-top: auto;
  margin-bottom: 0.5rem;
}