
.simplebar-scrollbar::before {
  background-color: magenta !important;
}

.simplebar-scrollbar:hover::before {
  background-color: #ff66ff !important;
}

.simplebar-track.simplebar-vertical {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}


.simplebar-wrapper {
  height: auto !important;
  width: 100vw;
}

.simplebar-mask {
  max-height: none !important;
}

.simplebar-content-wrapper {
  overflow-y: hidden !important;
  max-height: none !important;
}

.simplebar-content {
  overflow-y: visible !important;
  min-height: auto !important;
  width: 100vw;
}


.simplebar-track.simplebar-vertical {
  display: none !important;
}

.simplebar-content-wrapper {
  scrollbar-color: magenta rgba(0, 0, 0, 0.1) !important;
  scrollbar-width: thin !important;
}

.simplebar-scrollbar {
  scrollbar-color: magenta rgba(0, 0, 0, 0.1) !important;
  scrollbar-width: thin !important;
}